<p id="notice"><%= notice %></p>

<p>
  <strong>User id:</strong>
  <%= @daily_board.user_id %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @daily_board.create_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @daily_board.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @daily_board.content %>
</p>

<%= link_to 'Edit', edit_daily_board_path(@daily_board) %> |
<%= link_to 'Back', daily_boards_path %>
